<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 my-5">
                    <input v-model="articleTitle" type="text" class="form-control" placeholder="Title">
                    <textarea v-model="articleText" name="content" id="content" cols="30" rows="5" placeholder="Content"
                        class="form-control"></textarea>
                    <button :disabled="disabledButton" @click="addArticle" class="btn btn-sm btn-primary">Add Article</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <card v-on:delete-article="removeArticle($event)" v-for="article in articles" :title="article.title"
                        :content="article.content"></card>
                </div>
            </div>


        </div>

    </div>





    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>